---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  #extermintal contain all crds including standard
  - github.com/kubernetes-sigs/gateway-api/config/crd/experimental?ref=v1.4.1
