---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  repo: https://helm.cilium.io/
  chart: cilium
  # renovate: datasource=helm depName=cilium registryUrl=https://helm.cilium.io
  version: "1.13.4"
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    bpf:
      masquerade: false
      # -- Allow cluster external access to ClusterIP services.
      lbExternalClusterIP: true
    cluster:
      name: home-cluster
      id: 1
    containerRuntime:
      integration: containerd
      socketPath: /var/run/k3s/containerd/containerd.sock
    hubble:
      enabled: false
    ipam:
      mode: "cluster-pool"
      # -- Maximum rate at which the CiliumNode custom resource is updated.
      ciliumNodeUpdateRate: "15s"
      operator:
      # -- IPv4 CIDR list range to delegate to individual nodes for IPAM.
      clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]
      # -- IPv4 CIDR mask size to delegate to individual nodes for IPAM.
      clusterPoolIPv4MaskSize: 24
      # -- IPv6 CIDR list range to delegate to individual nodes for IPAM.
      clusterPoolIPv6PodCIDRList: ["2001:470:ee86:10:42::/80"]
      # -- IPv6 CIDR mask size to delegate to individual nodes for IPAM.
      clusterPoolIPv6MaskSize: 120
    tunnel: "disabled"
    autoDirectNodeRoutes: true
    ipv4NativeRoutingCIDR: "10.42.0.0/16"
    ipv6NativeRoutingCIDR: "2001:470:ee86:10:43::/80"
    enableIPv4Masquerade: true
    enableIPv6Masquerade: true
    ipv6:
      enabled: true
    bgpControlPlane:
      # -- Enables the BGP control plane.
      enabled: true
    endpointRoutes:
      # -- Enable use of per endpoint routes instead of routing via
      # the cilium_host interface.
      enabled: true
    socketLB:
      # -- Disable socket lb for non-root ns. This is used to enable Istio routing rules.
      hostNamespaceOnly: true
    loadBalancer:
      # -- algorithm is the name of the load balancing algorithm for backend
      # selection e.g. random or maglev
      algorithm: maglev
    nodePort:
      # -- Enable the Cilium NodePort service implementation.
      enabled: true
      # -- Port range to use for NodePort services.
      # range: "30000,32767"
    k8sServiceHost: "{{ kubevip_address }}"
    k8sServicePort: 6443
    kubeProxyReplacement: strict
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    operator:
      replicas: 1
