---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istiod
spec:
  interval: 5m
  chart:
    spec:
      chart: istiod
      version: 1.24.3
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
      interval: 10m
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  #driftDetection:
  #  mode: enabled
  maxHistory: 3
  valuesFrom:
    - kind: ConfigMap
      name: istiod-helm-values
