---
controllers:
  photoprism:
    type: statefulset
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: docker.io/photoprism/photoprism
          tag: latest@sha256:db16ee6b1ba3e5bc5ad787a3141a082532d1b30932c8b1396fa609394374b83f
        env:
          PHOTOPRISM_STORAGE_PATH: &storage /config
          PHOTOPRISM_ORIGINALS_PATH: &originals /originals
          PHOTOPRISM_DEBUG: "false"
          PHOTOPRISM_PUBLIC: "false"
          PHOTOPRISM_SITE_URL: "https://photos.${SECRET_DOMAIN}/"
          PHOTOPRISM_ORIGINALS_LIMIT: 4000 # in MB (default 1000)
        envFrom:
          - secretRef:
              name: photoprism-secret
              optional: false
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1
            memory: 1Gi
defaultPodOptions:
  securityContext:
    runAsUser: 2000
    runAsGroup: 2000
    fsGroup: 2000
service:
  app:
    controller: photoprism
    ports:
      http:
        port: &port 2342
route:
  app:
    parentRefs:
      - group: ""
        kind: Gateway
        name: external-gateway
        namespace: istio-gateways
    hostnames:
      - photos.${SECRET_DOMAIN}
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - kind: Service
            port: *port
            name: app
            weight: 100
persistence:
  config:
    enabled: true
    existingClaim: ${VOLSYNC_CLAIM}
    globalMounts:
      - path: *storage
  originals:
    existingClaim: media-nfs
    globalMounts:
      - path: *originals
