---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kubeovn
  namespace: kube-system
spec:
  repo: https://github.com/flannel-io/flannel
  chart: flannel
  # renovate: datasource=helm depName=calico registryUrl=https://flannel-io.github.io/flannel/
  version: "v0.26.2"
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    podCidr: "10.244.0.0/16"
    podCidrv6: ""
    flannel:
      enableNFTables: false
      args:
      - "--ip-masq"
      - "--kube-subnet-mgr"
      - "--iptables-forward-rules=false" #disable iptable forward chain rules
      backend: "host-gw"