---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  registry: quay.io
  imagePath: calico
  calicoNetwork:
    bgp: Enabled
    linuxDataplane: BPF
    # https://projectcalico.docs.tigera.io/networking/ip-autodetection
    nodeAddressAutodetectionV4:
      cidrs:
        - "{{ nodes_v4cidr }}"
    nodeAddressAutodetectionV6:
      cidrs:
        - "{{ nodes_v6cidr }}"
    # Note: The ipPools section cannot be modified post-install.
    ipPools:
      - blockSize: 116
        cidr: "{{ cluster_v6cidr }}"
        encapsulation: "None"
        natOutgoing: Enabled
        nodeSelector: all()
      - blockSize: 26
        cidr: "{{ cluster_cidr }}"
        encapsulation: "None"
        natOutgoing: Enabled
        nodeSelector: all()
  nodeMetricsPort: 9091
  typhaMetricsPort: 9093
  kubeletVolumePluginPath: None
