---
controllers:
  filebrowser:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: docker.io/filebrowser/filebrowser
          tag: v2.56.0@sha256:2c54423548d030a0613e144151d7783eb43321a3a79a1ba291c24b4198c048b1
        env:
          TZ: ${TIMEZONE}
          FB_DATABASE: /config/filebrowser.db
          FB_ROOT: /media
          FB_LOG: stdout
          FB_NOAUTH: true
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 80
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            memory: 512Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 2000
    runAsGroup: 2000
    fsGroup: 2000
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }
service:
  app:
    controller: filebrowser
    ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: *port
route:
  app:
    parentRefs:
      - group: ""
        kind: Gateway
        name: private-gateway
        namespace: istio-gateways
    hostnames:
      - "{{ .Release.Name }}.${CLUSTER_DOMAIN}"
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - kind: Service
            port: *port
            name: app
            weight: 100
persistence:
  config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: openebs-zfs-ssd
    retain: true
  media:
    existingClaim: media-nfs
